<a class="brand-title" href="/gasirim.github.io/">
  <img src="./assets/img/logo_text_white.png" class="brand-logo" />
  <!-- <span class="brand-text">
    <span class="brand-name">加 時 林</span>
    <span class="brand-tagline">치유의 정원</span>
  </span> -->
</a>
<section class="hero-slideshow hero-slideshow--video">
  <div class="hero-video__container">
    <div class="intro-hero parallax" data-video>
      <video class="intro-video" preload="auto" playsinline webkit-playsinline disablePictureInPicture controlsList="nodownload noplaybackrate noremoteplayback nofullscreen">
        <source src="./assets/video/gasirim.mp4" type="video/mp4">
        비디오를 재생할 수 없는 환경입니다.
      </video>
      <button class="intro-video-play" type="button" aria-label="영상 재생">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="embla__overlay">
      <div class="embla__copy">
        <h1>제주가 품은 정원, 마음을 여는 공간</h1>
        <p><span class="text-variable">제주 민간 4호 정원, 가시림</span></p>
      </div>
    </div>
  </div>
</section>
