<a class="brand-title" href="/gasirim.github.io/">
  <img src="./assets/img/logo_text_white.png" class="brand-logo" alt="가시림" />
  <!-- <span class="brand-text">
    <span class="brand-name">加 時 林</span>
    <span class="brand-tagline">치유의 정원</span>
  </span> -->
</a>
<section class="hero-slideshow hero-slideshow--video">
  <div class="hero-video__container">
    <div class="intro-hero" data-video>
      <video class="intro-video" preload="auto" autoplay muted loop playsinline webkit-playsinline disablePictureInPicture controlsList="nodownload noplaybackrate noremoteplayback nofullscreen">
        <source src="./assets/video/gasirim.mp4" type="video/mp4">
        비디오를 재생할 수 없는 환경입니다.
      </video>
    </div>
    <div class="embla__overlay">
      <div class="embla__copy">
        <h1>제주가 품은<br>사계절의 정원<br>가시림</h1>
      </div>
    </div>
  </div>
</section>
